# Dependencies
/node_modules

# Next.js
/.next
/out
/build

# Firebase
/firebase-debug.log

# VSCode settings
.vscode/

# OS files
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
.env.local

# Git LFS cache (optional)
/functions/next/cache/
