.container {  
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border: 1px solid #4e97da;
  border-radius: 12px;
  box-sizing: border-box;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
 margin-bottom: 20px;
}

.semititle {
  font-size: 24px;
  font-weight: bold;
  color: #1565c0; 
}

.table-wrapper {
  overflow-x: auto;
  margin-top: 10px;
}

.table {
  width: 100%;
 min-width:400px;
  font-size: 16px;
  border-collapse: collapse;
  border: 1px solid #ccc;
}


.table th, .table td {
  padding: 5px;
  text-align: center;
  border: 1px solid #ccc;
}

.table th {
  background: #1976d2;
  color: #ffffff;
  justify-content: center;
  padding: 10px;
}

.table td:last-child, .table th:last-child {
  border-right: none;
}

.table tbody tr:nth-child(even) {
  background-color: #fafafa;
}

.table tbody tr:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}
  
@media (max-width: 768px) {
  .top {
    flex-direction: column;
    align-items: flex-start;
  }

  .semititle {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .table th, .table td {
    font-size: 14px;
    padding: 8px;
  }
}

@media (max-width: 480px) {
  .table th, .table td {
    font-size: 12px;
    padding: 6px;
  }
}
