.container {
  width: 100%;
  box-sizing: border-box;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.cards,
.graph {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.operatorRow {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  width: 100%;
}
.spinnerContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  gap: 1rem;
  color: #555;
}

/* This ensures Trip Summary and Top Drivers are stacked vertically */
.driverColumn {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex: 1;
  min-width: 250px;
}

/* Ensure equal spacing and responsiveness */
.cards > div,
.operatorRow > div,
.driverColumn > div,
.graph > div {
  flex: 1;
}

/* Tablet and up */
@media (min-width: 600px) {
  .main {
    flex-direction: column;
  }

  .cards,
  .operatorRow,
  .graph {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* Mobile */
@media (max-width: 599px) {
  .cards,
  .operatorRow,
  .driverColumn,
  .graph {
    flex-direction: column;
    align-items: center;
  }

  .cards > div,
  .operatorRow > div,
  .driverColumn > div,
  .graph > div {
    width: 100%;
  }
}
