.servicesSection {
  background-image: url('/service.png');
  display: flex;
  justify-content: center;
    background-size: cover; 
  background-position: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 3rem 1rem;
  background-color: #ecf0f4;
  min-height: 100vh;
  border-bottom: 1px solid #0056b3;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden; 
}

.title {
  font-size: clamp(1.3rem, 3vw, 2.5rem);
  font-weight: bold;
  letter-spacing: 2px;
  margin: 40px;
  color: #ffffff;
}

.contentWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cardContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 20px;
  width: 100%;
}

.card {
  background: #fff;
  padding: 20px;
  border-radius: 15px;
  width: 90%;
  max-width: 400px;
  height: auto;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.card h3 {
  font-size: clamp(1rem, 1.3vw, 1.4rem);
  margin-top: 20px;
}

.card p {
  font-size: clamp(0.85rem, 1vw, 1.1rem);
  color: #666;
  margin-top: 10px;
}

.icon {
  color: #007bff;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  font-size: clamp(1rem, 1.5vw, 1.5rem);
}

/* Responsive styles */

/* Small devices (phones, less than 600px) */
@media (max-width: 599px) {
  .cardContainer {
    flex-direction: column;
    gap: 20px;
  }
.icon {
  margin-top: 0.5rem;
  font-size:10px;
}
  .card {
    width: 100%;
    max-width: none;
    margin-top:5;
  }
.card h3{
    margin-top:0;
  }
  .title {
    font-size: 1.8rem;
    margin-top: 40px;
    margin-bottom: 0%;
  }
}

/* Medium devices (tablets, 600px - 899px) */
@media (min-width: 600px) and (max-width: 899px) {
  .cardContainer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
  }

  .card {
    width: 45%;
    max-width: none;
  }

  .title {
    margin: 30px 20px;
    font-size: 2.2rem;
  }
}

/* Large devices (desktops, 900px - 1199px) */
@media (min-width: 900px) and (max-width: 1199px) {
  .cardContainer {
    flex-wrap: nowrap;
    justify-content: space-around;
    gap: 30px;
  }

  .card {
    width: 22%;
    max-width: 280px;
  }

  .title {
    margin: 40px 30px;
    font-size: 2.5rem;
  }
}

/* Extra large devices (large desktops, 1200px and above) */
@media (min-width: 1200px) {
  .cardContainer {
    flex-wrap: nowrap;
    justify-content: space-around;
    gap: 40px;
  }

  .card {
    width: 20%;
    max-width: 300px;
  }

  .title {
    margin: 50px 40px;
    font-size: 2.5rem;
  }
}
